<div ng-controller="homeController">
    <section class="full-width-grid">
        <div class="account-table common-pad">
            <h1>Hi {{userName}}</h1>
            <div class="clearfix diamond-wrapper">
                <div class="left">Number of Diamonds Found: {{numberOfDiamondFound}}</div>
                <div class="right hint-button pointer" ng-click="findHint()">Click for Hint</div>
            </div>
            <div class="hint-message">{{message}}</div>
        </div>
        <div class="content-wrapper">
            <table class="account-table">
                <tbody>
                    <tr class="account-table__data-row grid-x common-pad" ng-repeat="list in listItems">
                        <td class="account-table__date pointer" ng-repeat="data in list.columns"
                        ng-class="{'show-emptyBox':data.isClicked && !data.isDiamond, 
                        'show-diamond':data.isClicked && data.isDiamond}" ng-click="boxIsClicked(data)"
                        ></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <div class="white-overlay" ng-if="showPoints" >
            <div class="white-overlay-back diamond-wrapper">
                <p>Match is Over. You have got all the Diamonds</p>
                <p>Total Points: {{totalPoints}}</p>
                <div class="modal-footer">
                        <button type="submit" class="btn" ng-click="resetValue()">Play Again</button>
                    </div>
            </div>
        </div>
</div>